body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  position: relative;
  width: 400px;
  height: 400px;
}

.noise1 {
  position:absolute;
  width: 400px;
  height: 200px;
  background:
    linear-gradient(200deg, rgb(21, 33, 63), transparent),
    url(./turbulence1.svg);
    filter: contrast(170%) brightness(1000%);
}

.vertical_overlay1 {
  /* ... */
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: rgb(215, 191, 216);
  mix-blend-mode: multiply;
}

.noise2 {
  position:absolute;
  width: 400px;
  height: 200px;
  background:
    linear-gradient(20deg, rgb(37, 7, 43), transparent),
    url(./turbulence.svg);
    filter: contrast(170%) brightness(1000%);
}

/* Chrome-specific */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .noise {
    filter: contrast(290%) brightness(1000%);
  }
}

/* Isolation creates a new stacking context for mix-blend-mode. See: https://developer.mozilla.org/en-US/docs/Web/CSS/isolation */
.isolate {
  isolation: isolate;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  /* ... */
}

.ball {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  border-radius: 125px;
  overflow: hidden;
}

/* Magic: using the noise SVG as a background, and then upping the contrast and brightness

/* Note: Importing the noise.svg from an external site, but in practice you would simply point to the svg file as a relative path. (Referencing its id doesn't work either) */

.ball-shadow {
  rotate:90deg;
  height: 100%;
  background: radial-gradient(circle at 65% 35%, rgba(0, 0, 0, 0), rgb(11, 28, 48)), url(./turbulence1.svg);     
  filter: contrast(200%) brightness(700%);
}

.ball-shadow1 {
  rotate:180deg;
  height:100%;
  width:50%;
  background: radial-gradient(circle at 75% 25%, rgba(0, 0, 0, 0), rgb(11, 48, 22)), url(./turbulence1.svg);     
  filter: contrast(180%) brightness(700%);
}

.ball-shadow2 {
  rotate:180deg;
  height:50%;
  width:100%;
  background: radial-gradient(circle at 25% 25%, rgba(0, 0, 0, 0), rgb(39, 48, 11)), url(./turbulence1.svg);     
  filter: contrast(200%) brightness(700%);
}

.ball-shadow2 {
  rotate:180deg;
  height:200%;
  width:100%;
  background: radial-gradient(circle at 25% 25%, rgba(0, 0, 0, 0), rgb(39, 48, 11)), url(./turbulence1.svg);     
  filter: contrast(200%) brightness(700%);
}

.ball-shadow3 {
  rotate:180deg;
  height:100%;
  width:50%;
  background: radial-gradient(circle at 25% 75%, rgba(0, 0, 0, 0), rgb(48, 26, 11)), url(./turbulence1.svg);     
  filter: contrast(200%) brightness(700%);
}

/* The smooth gradient to give the ball some sheen. Blending with the noise further sharpens it. */

.ball-layer4 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 67% 30%, rgb(132, 191, 231), mediumblue);
  mix-blend-mode: multiply;
}

/* To continue the demo of noise, the shadow on the ground. No isolation here, so the blending includes the background */
.ground {
  position: absolute;
  width: 150%;
  height: 140px;
  bottom: -10px;
  left: -65%;
  transform: rotateZ(7deg);
  mix-blend-mode: multiply;
}

.ground-shadow {
  width: 95%;
  height: 140px;
  border-radius: 50%;
  background: radial-gradient(ellipse at 70%, navy, rgba(0, 0, 0, 0)), url(./turbulence1.svg);
  filter: contrast(150%) brightness(700%);
}